<div class="row">

  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count">
      <div class="dash-counts">
        <h4>
          {{ totalDrivers }}
        </h4>
        <h5>Total Drivers</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="user"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das1">
      <div class="dash-counts">
        <h4>
          {{ totalPassengers }}
        </h4>
        <h5>Total Passengers</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="user-check"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das2">
      <div class="dash-counts">
        <h4>{{totalActiveTrips}}</h4>
        <h5>Active Trips</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file-text"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das3">
      <div class="dash-counts">
        <h4>{{totalCompletedTrips}}</h4>
        <h5>Completed Trips</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file"></i-feather>
      </div>
    </div>
  </div>
</div>

<div class="card mb-0">
  <div class="card-body">
    <h4 class="card-title">Schedule</h4>
    <div class="table-responsive dataview">
      <table (matSortChange)="sortExpiredProducts($event)" matSort matSortActive="Sno" matSortDirection="asc"
        matSortDisableClear class="table">
        <thead>
          <tr>
            <th mat-sort-header="Test">Test</th>
            <th mat-sort-header="Test">Test</th>
            <th mat-sort-header="Test">Test</th>
            <th mat-sort-header="Test">Test</th>
            <th mat-sort-header="Test">Test</th>
            <th mat-sort-header="Test">Test</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dashboard2 of expiredProducts">
            <td>{{ dashboard2.SNo }}</td>
            <td>
              <a href="javascript:void(0);">{{ dashboard2.ProductCode }}</a>
            </td>
            <td class="productimgname">
            </td>
            <td>{{ dashboard2.BrandName }}</td>
            <td>{{ dashboard2.CategoryName }}</td>
            <td>{{ dashboard2.ExpiryDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>