<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaKbVhcX_22R_pRKDYuNA7vox-PtGaDkI"></script>
<nav class="navbar navbar-expand-lg navbar-light cartHeadersColor">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="routes.signIn">Sign In</a>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<div class="row cartColor" style="padding: 25px">
  <!-- Google Map Integration -->
  <div class=" mt-4">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card cartBodyColor">
          <div class="card-body d-flex flex-row align-items-center">
            <!-- This is where Google Map will render -->
            <div id="map" style="height: 500px; width: 100%;"></div>
          </div>
        </div>
      </div>
<!--      rider card and form card ui-->
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <!-- Rider Cart Section -->
        <div class="row">
          <div *ngIf="submittedCart" class="container mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body d-flex flex-row align-items-center">
                    <!-- Rider Image -->
                    <img [src]="submittedCart?.riderImage" alt="Rider" class="img-fluid rounded-circle me-3"
                         style="width: 100px; height: 100px;">

                    <!-- Vehicle Details -->
                    <div class="flex-grow-1">
                      <h5 class="card-title">{{ submittedCart?.vehicleType }}</h5>
                      <p class="card-text">Vehicle Number: {{ submittedCart?.vehicleNumber }}</p>
                      <p class="card-text">Vehicle Color: <span
                        [style.color]="submittedCart?.vehicleColor">{{ submittedCart?.vehicleColor }}</span></p>
                    </div>

                    <!-- Heart Button for Favorite -->
                    <button type="button" class="btn btn-light heart-btn" (click)="toggleLike()">
                      <span *ngIf="submittedCart.liked" class="text-danger">&hearts;</span>
                      <span *ngIf="!submittedCart.liked" class="text-muted">&hearts;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card for pickup and drop-off locations form -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card cartBodyColor">
              <div class="card-body">
                <h5 class="card-title">Enter Ride Details</h5>

                <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
                  <!-- Pickup Location Input -->
                  <div class="mb-3">
                    <label for="pickupLocation" class="form-label">Pickup Location</label>
                    <input type="text" id="pickupLocation" class="form-control" formControlName="pickupLocation">
                    <div
                      *ngIf="locationForm.get('pickupLocation')?.invalid && locationForm.get('pickupLocation')?.touched"
                      class="text-danger">
                      Pickup location is required
                    </div>
                  </div>

                  <!-- Drop Location Input -->
                  <div class="mb-3">
                    <label for="dropLocation" class="form-label">Drop Location</label>
                    <input type="text" id="dropLocation" class="form-control" formControlName="dropLocation">
                    <div *ngIf="locationForm.get('dropLocation')?.invalid && locationForm.get('dropLocation')?.touched"
                         class="text-danger">
                      Drop location is required
                    </div>
                  </div>

                  <!-- Contact Number Input -->
                  <div class="mb-3">
                    <label for="contactNumber" class="form-label">Contact Number</label>
                    <input type="text" id="contactNumber" class="form-control" formControlName="contactNumber">
                    <div
                      *ngIf="locationForm.get('contactNumber')?.invalid && locationForm.get('contactNumber')?.touched"
                      class="text-danger">
                      Contact number is required and must be valid
                    </div>
                  </div>

                  <!-- Vehicle Type Selection with Buttons -->
                  <div class="mb-3">
                    <label class="form-label">Select Vehicle Type</label>
                    <div class="vehicle-types">
                      <!-- Vehicle buttons with images inside -->
                      <button
                        *ngFor="let vehicle of vehicleTypes"
                        type="button"
                        class="btn vehicle-btn"
                        [ngClass]="{'btn-selected': activeVehicle === vehicle.type}"
                        (click)="onVehicleSelect(vehicle.type)">
                        <!-- Display the image inside the button -->
                        <img [src]="vehicle.imageUrl" [alt]="vehicle.name" class="vehicle-image">
                        <div class="vehicle-name">{{ vehicle.name }}</div>
                      </button>
                    </div>
                    <div *ngIf="locationForm.get('vehicleType')?.invalid && locationForm.get('vehicleType')?.touched"
                         class="text-danger">
                      Vehicle type is required
                    </div>
                  </div>

                  <!-- Submit Button -->
                  <button style="width: 100%" type="submit" class="btn btn-primary" [disabled]="locationForm.invalid">
                    <i-feather name="user-check"></i-feather>&nbsp;&nbsp;
                    Search
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    <!-- Cart Section (displayed after form submission) -->
    <!--  <div *ngIf="submittedCart" class="mt-4">-->
    <!--    <h5 class="card-title">Your Ride Details</h5>-->
    <!--    <div class="card">-->
    <!--      <div class="card-body">-->
    <!--        &lt;!&ndash; Rider Image &ndash;&gt;-->
    <!--        <img [src]="submittedCart.riderImage" alt="Rider" class="rider-image">-->

    <!--        &lt;!&ndash; Vehicle Details &ndash;&gt;-->
    <!--        <p><strong>Vehicle Number:</strong> {{ submittedCart.vehicleNumber }}</p>-->
    <!--        <p><strong>Vehicle Color:</strong> {{ submittedCart.vehicleColor }}</p>-->
    <!--        <p><strong>Vehicle Type:</strong> {{ submittedCart.vehicleType }}</p>-->

    <!--        &lt;!&ndash; Heart Button &ndash;&gt;-->
    <!--        <button type="button" class="btn btn-light heart-btn" (click)="toggleLike()">-->
    <!--          <span *ngIf="submittedCart.liked" class="text-danger">&hearts;</span>-->
    <!--          <span *ngIf="!submittedCart.liked" class="text-muted">&hearts;</span>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->

  </div>
</div>

