.vehicle-types {
  display: flex;
  gap: 15px;
}

.vehicle-btn {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  background-color: #f8f9fa;
  transition: border-color 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 100px;
}

.vehicle-btn:hover {
  border-color: #06325d;

}

.vehicle-image {
  width: 50px;
  height: 50px;
}

.vehicle-name {
  margin-top: 5px;
  font-size: 14px;
}

/* Yellow border and background for selected vehicle */
.btn-selected {
  border-color: #06325d;
  background-color: #fedf43;
}

/* Default style for unselected vehicles */
.vehicle-btn:not(.btn-selected) {
  border-color: transparent;
}




//===========rider ==============


.rider-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.heart-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.heart-btn .text-danger {
  color: #ffbb0d;
}

.heart-btn .text-muted {
  color: grey;
}

.vehicle-types {
  display: flex;
  gap: 15px;
}

.vehicle-btn {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.vehicle-btn:hover {
  border-color: #ff1919;
}

.vehicle-image {
  width: 50px;
  height: 50px;
}

.vehicle-name {
  margin-top: 5px;
  font-size: 14px;
}

/* Yellow border and background for selected vehicle */
.btn-selected {
  border-color: #ff8c19;
  background-color: #06325d;
  color:#ffe09e !important;;
}

.cartHeadersColor{
  background-color: #ffbb0d!important;;
}
.cartColor{
  background-color: #ffcd6d!important;
}
.cartBodyColor{
  background-color: #ffe3af !important;

}


//======== loader ===========

.loader {
  border: 16px solid #f38a00;
  border-radius: 50%;
  border-top: 16px solid #ffbb0d;
  border-right: 16px solid #d9ceaa;
  border-bottom: 16px solid #f39821;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
