<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaKbVhcX_22R_pRKDYuNA7vox-PtGaDkI"></script>
<nav class="navbar navbar-expand-lg navbar-light cartHeadersColor">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Quick Go</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page" [routerLink]="routes.dashboard">Account</a>
        </li>

      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="dropdown-item logout " [routerLink]="routes.signIn">Logout
              <img src="assets/img/icons/log-out.svg"  alt="img"/></a>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<div class="row cartColor" style="padding: 25px">
  <!-- Google Map Integration -->
  <div class=" mt-4">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card cartBodyColor">
          <div class="card-body d-flex flex-row align-items-center">
            <!-- This is where Google Map will render -->
            <div id="map" style="height: 500px; width: 100%;"></div>
          </div>
        </div>
      </div>
<!--     active vehicle card and form card ui-->
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">

        <!-- vehicle Rider Cart Section -->
        <div class="row">
          <div *ngIf="submittedCart" class="container mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body d-flex flex-row align-items-center">
                    <!-- Rider Image -->
                    <img  [src]="submittedCart?.image" alt="Rider" class="img-fluid rounded-circle me-3"
                         style="width: 100px; height: 100px;">

                    <!-- Vehicle Details -->
                    <div class="flex-grow-1">
                      <h5 style="margin: 0!important;" class="card-title"><span>{{ submittedCart?.name }}</span></h5>
                      <p style="margin: 0!important;" class="card-text">Vehicle: <span>{{ submittedCart?.type }}</span></p>
                      <p style="margin: 0!important;" class="card-text">Vehicle Number: <span>{{ submittedCart?.vehicleNumber }}</span></p>
                      <p style="margin: 0!important;" class="card-text">Seats: <span>{{ submittedCart?.seats }}</span></p>
                      <p style="margin: 0!important;" class="card-text">
                        Vehicle Color: <span [style.color]="submittedCart?.color">{{ submittedCart?.color }}</span>
                      </p>
                      <div style="width: 30px; height: 15px; border-radius: 2px" [style.background]="submittedCart?.color"></div>

                      <p class="card-text">Rate:
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                          <i  class="fa fa-star"
                              [style.color]="star <= submittedCart?.rate ? '#dea412' : 'lightgray'"
                              style="font-size: 10px;"></i>
                        </ng-container>
                      </p>
                      <button class="btn btn-clear mr-2">Request</button>
                      <button class="btn btn-cancel mr-2">Cancel</button>
                    </div>

                    <!-- Heart Button for Favorite -->
                    <button type="button" class="btn btn-light heart-btn" (click)="toggleLike()">
                      <span style="width: 50px; height: 50px" *ngIf="submittedCart.isFavorite" class="text-danger">&#10084;</span>
                      <span style="width: 50px; height: 50px" *ngIf="!submittedCart.isFavorite" class="text-muted">&#10084;</span>
                    </button>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card for pickup and drop-off locations form -->
        <div class="row" >
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card cartBodyColor">
              <div class="card-body ">
                <h5 class="card-title">Enter Ride Details</h5>

                <form [formGroup]="locationForm" >
                  <!-- Pickup Location Input -->
                  <div class="mb-3">
                    <label for="pickupLocation" class="form-label">Pickup Location</label>
                    <div class="input-group">
                      <input type="text" id="pickupLocation" class="form-control" formControlName="pickupLocation">
                      <button type="button" class="btn btn-outline-secondary" (click)="setCurrentLocation()">
                        <i class="fa fa-map-marker-alt"></i> <!-- Location icon -->
                      </button>
                    </div>
                    <div
                      *ngIf="locationForm.get('pickupLocation')?.invalid && locationForm.get('pickupLocation')?.touched"
                      class="text-danger">
                      Pickup location is required
                    </div>
                  </div>

                  <!-- Drop Location Input -->
                  <div class="mb-3">
                    <label for="dropLocation" class="form-label">Drop Location</label>
                    <input type="text" id="dropLocation" class="form-control" formControlName="dropLocation">
                    <div *ngIf="locationForm.get('dropLocation')?.invalid && locationForm.get('dropLocation')?.touched"
                         class="text-danger">
                      Drop location is required
                    </div>
                  </div>

                  <!-- Contact Number Input -->
                  <div class="mb-3">
                    <label for="contactNumber" class="form-label">Contact Number</label>
                    <input type="text" id="contactNumber" class="form-control" formControlName="contactNumber">
                    <div
                      *ngIf="locationForm.get('contactNumber')?.invalid && locationForm.get('contactNumber')?.touched"
                      class="text-danger">
                      Contact number is required and must be valid
                    </div>
                  </div>

                  <!-- Vehicle Type Selection with Buttons -->
                  <div class="mb-3">
                    <label class="form-label">Select Vehicle Type</label>
                    <div class="vehicle-types">
                      <!-- Vehicle buttons with images inside -->
                      <button
                        *ngFor="let vehicle of vehicleTypes"
                        type="button"
                        class="btn vehicle-btn"
                        [ngClass]="{'btn-selected': activeVehicle === vehicle.type}"
                        (click)="onVehicleSelect(vehicle.type)">
                        <!-- Display the image inside the button -->
                        <img [src]="vehicle.imageUrl" [alt]="vehicle.name" class="vehicle-image">
                        <div class="vehicle-name">{{ vehicle.name }}</div>
                      </button>
                    </div>
                    <div *ngIf="locationForm.get('vehicleType')?.invalid && locationForm.get('vehicleType')?.touched"
                         class="text-danger">
                      Vehicle type is required
                    </div>
                  </div>
<!--                  loader-->
                  <div class="row" style="justify-content: center; margin: 10px" *ngIf="isLoader">
                    <div class="loader"></div>
                  </div>

                  <!-- Submit Button -->
                  <button (click)="onSubmit()" style="width: 100%" type="submit" class="btn btn-primary" [disabled]="locationForm.invalid">
                    <i-feather name="user-check"></i-feather>&nbsp;&nbsp;
                    Search
                  </button>

                  <button  (click)="clearMap()" style="width: 100%" type="button" class="btn btn-clear mt-2" [disabled]="locationForm.invalid">
                    <i-feather name="clear"></i-feather>&nbsp;&nbsp;
                    Close
                  </button>

                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>

<!--footer-->
<footer class="bg-dark text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row" style="color: #ffbb0d!important;">
      <!-- About Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Go</h5>
        <p style="color: #ffd573!important;">
          Your trusted ride-sharing service.
        </p>
      </div>

      <!-- Links Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Useful Links</h5>
        <ul class="list-unstyled" >
          <li>
            <a style="color: #ffd573!important;" [routerLink]="routes.dashboard" class="text-white">Account</a>
          </li>
          <li>
            <a style="color: #ffd573!important;" [routerLink]="routes.signIn" class="text-white">Logout</a>
          </li>
          <li>
            <a style="color: #ffd573!important;" href="#" class="text-white">Contact Us</a>
          </li>
        </ul>
      </div>

      <!-- Social Media Section -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <a style="color: #ffd573!important; font-size: 15px" href="#" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
        <a style="color: #ffd573!important; font-size: 15px" href="#" class="text-white me-4"><i class="fab fa-twitter"></i></a>
        <a style="color: #ffd573!important; font-size: 15px" href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Quick Go, All Rights Reserved
  </div>
</footer>


