<div class="page-header">
  <div class="page-title">
    <h4>Manage Vehicles</h4>
    <h6>Add/Update Vehicles</h6>
  </div>
</div>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label class="required">Vehicle Name</label>
            <input
              type="text"
              placeholder="Enter vehicle name"
              formControlName="vehicle_name"
              [ngClass]="{
                  'is-invalid': f['vehicle_name']?.touched && f['vehicle_name']?.invalid
                }"
            />
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label class="required">Vehicle Number</label>
            <input type="text" formControlName="vehicle_number" class="form-control">
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label class="required">Vehicle Type</label>
            <mat-select class="select" placeholder="Select" formControlName="type" [(ngModel)]="selectedRole" (selectionChange)="onVehicleTypeChange($event)">
              <mat-option [value]="'three_wheel'">Three-Wheel</mat-option>
              <mat-option [value]="'car'">Car</mat-option>
              <mat-option [value]="'bike'">Bike</mat-option>
            </mat-select>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label class="required">Vehicle Color</label>
            <input type="text" placeholder="Enter vehicle color" formControlName="color" class="form-control" />
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label class="required">Vehicle Condition</label>
            <input type="text" formControlName="vehicle_conditions" class="form-control" [ngClass]="{'is-invalid': f['vehicle_conditions'].touched && f['vehicle_conditions'].invalid}" />
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label class="required">Vehicle Seats</label>
            <input type="text" formControlName="seats" class="form-control">
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label class="required">Driver Name</label>
            <mat-select class="select" placeholder="Select Driver" formControlName="selectedDriver" (selectionChange)="onDriverChange($event)">
              <mat-option *ngFor="let driver of drivers" [value]="driver.id">{{ driver.name }}</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="form-group">
          <label class="required">Vehicle Image</label>
          <input type="file" (change)="onFileChange($event)" accept="image/*" class="form-control" />
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Vehicle Image" class="img-preview" />
        </div>
      </div>

      <div class="col-lg-12">
        <button [disabled]="form.invalid" class="btn btn-submit mr-2" type="submit">Save</button>
        <button type="button" class="btn btn-clear mr-2 ">Clear</button>
        <a [routerLink]="routes.dashboard" class="btn btn-cancel">Cancel</a>
      </div>
    </div>
  </form>
</div>

<!-- /Vehicle list -->
<div class="card">
  <div class="card-body">
    <div class="table-top">
      <div class="search-set">
        <div class="search-path">
          <a
            (click)="showFilter = !showFilter"
            [class.setclose]="showFilter === true"
            class="btn btn-filter"
            id="filter_search"
          >
            <img
              *ngIf="showFilter === false"
              src="../../../../assets/img/icons/filter.svg"
              alt="img"
            />
            <span
            ><img
              *ngIf="showFilter === true"
              src="../../../../assets/img/icons/closes.svg"
              alt="img"
            /></span>
          </a>
        </div>
        <div class="search-input">
          <a class="btn btn-searchset"
          ><img src="../../../../assets/img/icons/search-white.svg" alt="img"
          /></a>
          <div class="dataTables_filter">
            <label>
              <input
                [(ngModel)]="searchDataValue"
                (ngModelChange)="searchData(searchDataValue)"
                type="search"
                class="form-control"
                placeholder="Search..."
              />
            </label>
          </div>
        </div>
      </div>
      <div class="wordset">
        <ul>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"
            ><img src="../../../../assets/img/icons/pdf.svg" alt="img"
            /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"
            ><img src="../../../../assets/img/icons/excel.svg" alt="img"
            /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"
            ><img src="../../../../assets/img/icons/printer.svg" alt="img"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /Filter -->
    <div
      class="card mb-0 border-0"
      [ngClass]="{
        'show-sub-menu': showFilter === true,
        'hide-sub-menu': showFilter === false
      }"
    >
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <input type="text" placeholder="Enter User Name" />
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <input type="text" placeholder="Enter Phone" />
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <input type="text" placeholder="Enter Email" />
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <ngx-datepicker [(ngModel)]="date"></ngx-datepicker>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Disable">
                <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                  {{data.value}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-lg-1 col-sm-6 col-12 ms-auto">
            <div class="form-group">
              <a class="btn btn-filters ms-auto"
              ><img src="../../../../assets/img/icons/search-whites.svg" alt="img"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Filter -->
    <div class="table-responsive">
      <table
        (matSortChange)="sortData($event)"
        matSort
        matSortActive="Sno"
        matSortDirection="asc"
        matSortDisableClear
        class="table datanew"
      >
        <thead>
        <tr>
          <th>
            <label class="checkboxs" (click)="selectAll(initChecked)">
              <input type="checkbox" [(ngModel)]="initChecked" />
              <span class="checkmarks"></span>
            </label>
          </th>
          <th mat-sort-header="vehicle_name">Vehicle Name</th>
          <th mat-sort-header="selectedDriverName">Driver Name</th>
          <th mat-sort-header="vehicle_number">Vehicle Number</th>
          <th mat-sort-header="type">Vehicle Type</th>
          <th mat-sort-header="color">Vehicle Color</th>
          <th mat-sort-header="vehicle_conditions">Vehicle Condition</th>
          <th mat-sort-header="seats">Vehicle Seats</th>
          <th mat-sort-header="isActive">Status</th>
          <th mat-sort-header="action">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let vehicles of tableData; let i = index">
          <td>
            <label class="checkboxs">
              <input type="checkbox" [(ngModel)]="vehicles.isSelected" />
              <span class="checkmarks"></span>
            </label>
          </td>
          <td>{{ vehicles.vehicle_name}}</td>
          <td>{{ vehicles.selectedDriverName}}</td>
          <td>{{ vehicles.vehicle_number}}</td>
          <td>{{ vehicles.type}}</td>
          <td>{{ vehicles.color}}</td>
          <td>{{ vehicles.vehicle_conditions}}</td>
          <td>{{ vehicles.seats}}</td>
          <td>{{ vehicles.isActive}}</td>
          <td>
            <a
              (click) = "onUpdate(vehicles)"
              class="me-3" >
              <img src="../../../../assets/img/icons/edit.svg" alt="img" />
            </a>
            <a
              (click)="deleteBtn(vehicles.id)"
              class="me-3 confirm-text"
              href="javascript:void(0);"
            >
              <img src="../../../../assets/img/icons/delete.svg" alt="img" />
            </a>
          </td>
        </tr>
        <tr *ngIf="tableData.length === 0">
          <td colspan="12">
            <h5 class="no-record">No matching records found</h5>
          </td>
        </tr>
        </tbody>
      </table>

      <app-custom-pagination></app-custom-pagination>
    </div>
  </div>
</div>
